%p#notice= notice
%h1 Listing Sales
%table
  %thead
    %tr
      %th Buyer
      %th Description
      %th Price
      %th Quantity
      %th Supplier
      %th{:colspan => "3"}
  %tbody
    - @sales.each do |sale|
      %tr
        %td= sale.buyer
        %td= sale.description
        %td= sale.price
        %td= sale.quantity
        %td= sale.supplier
        %td= link_to 'Show', sale
        %td= link_to 'Edit', edit_sale_path(sale)
        %td= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Sale', new_sale_path
